PORT=3000
NODE_ENV=development

# MongoDB Connection
MONGO_URI=mongodb+srv://catering_admin:CateringAdmin2026@cluster0.2vlrwwm.mongodb.net/catering_ops_hub?retryWrites=true&w=majority&appName=Cluster0

# JWT Auth
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRE=30d

# Razorpay (Step 8)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=


# Flaxxa WhatsApp
FLAXXA_TOKEN=92349896869a99fd142d59


